[submodule "thirdparty/vk-bootstrap"]
	path = thirdparty/vk-bootstrap
	url = https://github.com/charles-lunarg/vk-bootstrap
[submodule "thirdparty/VulkanMemoryAllocator"]
	path = thirdparty/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "thirdparty/SDL"]
	path = thirdparty/SDL
	url = https://github.com/libsdl-org/SDL.git
